.section {
	padding: 1em 0;
	margin: 0.5em auto;
	max-width: 120rem;

	.heading-section {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 1em;
		text-transform: capitalize;
	}
}

.section-now-playing {
	// padding: 0 2em;
}
